body {
    font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header {
            height: 5vh;
            width: 100%;
            display: flex;
}

.jsCode {
	padding: 10px;
	height: 100px;
    width: 40%;
}

.checkboxes {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.startButton {
  margin-right: 6px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
}

.stopButton {
  margin-right: 6px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f4511e;
  border: none;
  border-radius: 15px;
}

.progress {
	padding: 15px 10px;
}

.status {
	padding-left: 3%;
}

.startButton:hover {background-color: #3e8e41}

.startButton:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.stopButton:hover {background-color: #E6300F}

.stopButton:active {
  background-color: #E6300F;
  transform: translateY(4px);
}

.timer {
	text-align:center;
	width: 10%;
	font-size: 2.2vh;
	height: auto;
}

.checkboxes__item {
    padding: 9px;
    width: 50%;
}

.checkbox.checkbox-style {
    display: inline-block;
    position: relative;
    padding-bottom: 8px;
	padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox.checkbox-style input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.checkbox-style input:checked~.checkbox__checkmark {
    background-color: #f7cb15;
}

.checkbox.checkbox-style input:checked~.checkbox__checkmark:after {
    opacity: 1;
}

.checkbox.checkbox-style:hover input~.checkbox__checkmark {
    background-color: #eee;
}

.checkbox.checkbox-style:hover input:checked~.checkbox__checkmark {
    background-color: #f7cb15;
}

.checkbox.checkbox-style .checkbox__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 4px;
}

.checkbox.checkbox-style .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox.checkbox-style .checkbox__body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
}

